.not-gradient {
  background-color: white !important;
  background-image: none !important;
}
.not-gradient .toggle-line {
  border-color: black !important;
}
.not-gradient #langdropdown {
  color: black !important;
}
.not-gradient .active {
  color: #08705F !important;
}
.not-gradient .nav-link {
  color: black;
}
.not-gradient .check-offer {
  background-color: #08705F !important;
  color: white !important;
}
.not-gradient .check-offer:hover {
  background-color: white !important;
  color: #08705F !important;
}
.not-gradient .login {
  border-color: #08705F !important;
  color: #08705F !important;
}
.not-gradient .login:hover {
  background-color: #08705F !important;
  color: white !important;
}
.not-gradient .navbar-brand path {
  fill: #08705F !important;
}

.gradient .nav-link {
  color: white;
}

.preloader {
  position: absolute;
  background-color: black;
  width: 100%;
  z-index: 10000000;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.preloader .logo {
  display: block;
}
.preloader .logo svg {
  transform: scale(3);
}
.preloader .logo svg path:nth-child(1n) {
  animation: animation 1s ease-in infinite;
}
.preloader .logo svg path:nth-child(2n) {
  animation: animation 1s ease-in infinite 0.25s;
}
.preloader .logo svg path:nth-child(3n) {
  animation: animation 1s ease-in infinite 0.5s;
}
.preloader .logo svg path:nth-child(4n) {
  animation: animation 1s ease-in infinite 0.75s;
}
@keyframes animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.navbar {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  font-feature-settings: "pnum" on, "lnum" on;
  padding: 26px 60px;
  position: absolute;
  top: 0;
  z-index: 1000;
  background-image: linear-gradient(black, transparent);
}
.navbar .navbar-nav {
  width: 100%;
}
.navbar .navbar-nav .nav-item {
  margin: 0 auto;
}
.navbar .navbar-nav .nav-item .nav-link {
  padding: 10px 16px;
}
.navbar .navbar-nav .nav-item .check-offer {
  background: rgba(8, 112, 95, 0.2);
  border: 1px solid #08705F;
  box-sizing: border-box;
  border-radius: 8px;
  margin: 0 16px;
  transition: 0.3s;
}
.navbar .navbar-nav .nav-item .check-offer:hover {
  background: #08705F;
}
.navbar .navbar-nav .nav-item .login {
  background: rgba(255, 255, 255, 0.1);
  /* White */
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 8px;
  transition: 0.3s;
}
.navbar .navbar-nav .nav-item .login:hover {
  background: #FFFFFF;
  /* White */
  color: #08705F;
  border: 1px solid #FFFFFF;
}

.video {
  height: 100vh !important;
  overflow: hidden;
  position: relative;
}
.video video {
  width: 100%;
  position: absolute;
  top: -50px;
  z-index: -1;
}
.video .video-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  width: 791px;
  height: 90px;
  margin: 65vh auto;
}

.section {
  margin-top: 72px;
  padding: 0 60px;
  position: relative;
}
.section h1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  /* identical to box height, or 143% */
  /* Black */
  color: #313131;
}
.section .rectangle {
  background-image: url("./../image/Rectangle 22020.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 203px;
  width: 100%;
  padding: 16px 32px 16px 16px;
  position: relative;
  margin-top: 24px;
}
.section .rectangle .rectangle-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  color: #313131;
  margin-top: 16px;
}
.section .rectangle .rectangle-body {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  /* or 144% */
  font-feature-settings: "tnum" on, "lnum" on;
  color: #60676D;
  margin-top: 2px;
}
.section .rectangle .bosqich {
  position: absolute;
  top: 16px;
  right: 32px;
  border-radius: 4px;
  padding: 3px 8px 4px 8px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  font-feature-settings: "pnum" on, "lnum" on;
  font-weight: 500;
  background: rgba(101, 128, 151, 0.1);
}
.section .rectangle .icon {
  height: 52px;
  width: 52px;
  border-radius: 50%;
  padding: 10px;
  background: #FFFFFF;
}
.section .owl-nav {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: -40px;
  right: 0;
}
.section .owl-nav .owl-next-a {
  background: #08705F;
  margin-left: 8px;
  opacity: 1;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #08705F;
  color: #08705F;
  box-sizing: border-box;
  padding: 6px;
  position: initial;
}
.section .owl-nav .owl-prev-a {
  margin-left: auto;
  opacity: 1;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #08705F;
  color: #08705F;
  box-sizing: border-box;
  padding: 6px;
  position: initial;
}

.carousel-indicators {
  position: initial;
  margin-top: 24px;
}

.nav .nav-item .nav-link {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  font-feature-settings: "pnum" on, "lnum" on;
  /* Neutral/Black 1 */
  color: #0D1012;
  padding: 12px 0;
  border: 0;
  margin-right: 24px;
}
.nav .nav-item .active {
  color: #08705F;
  border-bottom: 3px solid #08705F;
}

.answer-active {
  height: initial !important;
}

#mapContainer {
  width: 100%;
  height: 400px;
  border: 1px solid #9CA3A9;
  border-radius: 12px;
  overflow: hidden;
}

.tab-menu {
  display: flex;
  gap: 24px;
}
.tab-menu .tab-btn {
  border: 0;
  background-color: transparent;
  color: black;
  padding: 12px 0;
  border-bottom: 2px solid transparent;
}
.tab-menu .active {
  color: #08705F;
  border-bottom: 2px solid #08705F;
}

.container {
  margin-top: 140px;
}
.container h1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  /* identical to box height, or 143% */
  display: flex;
  align-items: center;
}
.container .question {
  border-radius: 16px;
  background: #FFFFFF;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: #313131;
  border: 0;
  width: 100%;
  text-align: left;
  font-family: "Raleway";
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container .question span:nth-child(1) {
  width: 90%;
}
.container .question .icon {
  background-image: url("../image/plus-circle.svg");
  display: flex;
  width: 32px;
  height: 32px;
}
.container .answer {
  transition: 0.2s;
  overflow: hidden;
  margin: 0 !important;
  height: 0;
}
.container .answer div {
  margin-top: 18px;
}
.container .card {
  background: #FFFFFF;
  border-radius: 24px;
  border: 0;
  padding: 32px;
  margin-top: 24px;
  position: relative;
  text-decoration: none;
}
.container .card .col-lg-4 {
  margin: 0;
}
.container .card .col-lg-4 p {
  margin: 0;
}
.container .card div {
  color: #08705F;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  text-transform: capitalize;
  margin-bottom: 16px;
}
.container .card div a {
  color: #08705F;
}
.container .card .file {
  width: 100%;
  background: #F5F5F5;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  color: black;
  text-decoration: none;
  align-content: center;
  align-items: center;
  margin-top: 10px;
}
.container .card .file h3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}
.container .card .file i {
  margin-left: auto;
  font-size: 36px;
}
.container .card .file p {
  color: #A9ABBD;
  margin: 0;
}
.container .card .file .mx-5 {
  margin-bottom: 0;
}
.container .card .file i {
  color: #08705F;
}
.container .card h2 a {
  color: #08705F;
  position: absolute;
  top: 52px;
  right: 35px;
}
.container .card p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  font-feature-settings: "pnum" on, "lnum" on;
  /* Neutral/Black 1 */
  color: #0D1012;
  line-height: 28px;
  font-weight: 400;
  color: #60676D;
}
.container .card blockquote {
  color: #08705F;
  font-style: italic;
}

.section-2 {
  margin-top: 96px;
  padding: 0 60px;
}
.section-2 h1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  /* identical to box height, or 143% */
  /* Black */
  color: #313131;
}
.section-2 #fields .date-list {
  margin-left: auto;
  margin-top: 20px;
  display: block;
}
.section-2 #fields .date-list a {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  font-feature-settings: "pnum" on, "lnum" on;
  color: #7E858B;
  text-decoration: none;
}
.section-2 #fields .owl-carousel .owl-nav button {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: white;
  position: absolute;
  top: 50%;
  opacity: 1;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);
}
.section-2 #fields .owl-carousel .owl-nav .owl-prev {
  left: -18px;
}
.section-2 #fields .owl-carousel .owl-nav .owl-prev .carousel-control-prev {
  margin: auto;
  display: block;
}
.section-2 #fields .owl-carousel .owl-nav .owl-next {
  right: -18px;
}
.section-2 #fields .owl-carousel .owl-nav .owl-next img {
  transform: rotate(180deg);
}
.section-2 #fields .rectangle {
  width: 100%;
  height: 452px;
  background: #F5F5F5;
  border-radius: 24px;
  padding: 16px;
  margin-top: 24px;
}
.section-2 #fields .rectangle .rectangle-img {
  width: 100%;
  height: 272px;
  overflow: hidden;
  border-radius: 16px;
}
.section-2 #fields .rectangle .rectangle-img img {
  width: 100%;
}
.section-2 #fields .rectangle .rectangle-date {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  font-feature-settings: "pnum" on, "lnum" on;
  font-weight: 500;
  color: #747B81;
}
.section-2 #fields .rectangle .rectangle-lot {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  font-feature-settings: "pnum" on, "lnum" on;
  font-weight: 500;
  color: #747B81;
  margin-top: 16px;
}
.section-2 #fields .rectangle .rectangle-name {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  font-feature-settings: "pnum" on, "lnum" on;
  /* Neutral/Black 1 */
  color: #0D1012;
  font-weight: 700;
  margin-top: 12px;
}
.section-2 #fields .rectangle .rectangle-footer {
  bottom: 16px;
  position: absolute;
  left: 16px;
  right: 16px;
  justify-content: space-between;
  display: flex;
}
.section-2 #fields .rectangle .rectangle-footer .rectangle-ga {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  font-feature-settings: "pnum" on, "lnum" on;
  /* Neutral/Black 1 */
  color: #0D1012;
  line-height: 28px;
  font-weight: 700;
  margin-top: auto;
  display: inline-block;
  color: #08705F;
}
.section-2 #fields .rectangle .rectangle-footer .rectangle-save {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 10px;
  background-color: white;
  border: 1px;
}
.section-2 .about-video {
  height: 464px;
  width: 100%;
  border-radius: 24px;
  overflow: hidden;
  position: relative;
}
.section-2 .about-video #videoCarousel .carousel-item img {
  width: 100%;
}
.section-2 .about-video #videoCarousel .carousel-item .video-content {
  position: absolute;
  top: 138px;
  left: 112px;
  width: 100%;
}
.section-2 .about-video #videoCarousel .carousel-item .video-content .text-1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  /* identical to box height, or 125% */
  display: flex;
  align-items: center;
  /* Neutral/White */
  color: #FFFFFF;
  color: white;
}
.section-2 .about-video #videoCarousel .carousel-item .video-content .text-2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  font-feature-settings: "pnum" on, "lnum" on;
  /* Neutral/Black 1 */
  color: #0D1012;
  color: white;
  margin-top: 16px;
}
.section-2 .about-video #videoCarousel .carousel-item .video-content .play-btn {
  background-color: transparent;
  transform: translate(-20%, -30%);
  opacity: 0.5;
  border: 0;
}
.section-2 .about-video #videoCarousel .carousel-item .video-content .play-btn:hover {
  opacity: 1;
}
.section-2 .about-video .carousel-nav {
  position: absolute;
  top: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
  left: 119px;
}
.section-2 .about-video .carousel-nav .carousel-control-next {
  transform: rotate(180deg);
  position: initial;
  top: 0;
}
.section-2 .about-video .carousel-nav .carousel-control-prev {
  position: initial;
  top: 0;
}
.section-2 .about-video .carousel-nav .carousel-indicators {
  width: 70px;
}
.section-2 .about-video .carousel-nav .carousel-indicators li {
  width: 8px !important;
  height: 8px;
  border: 4px solid transparent;
  box-shadow: 0 0 0 1px white;
  border-radius: 50%;
  margin: auto;
}
.section-2 .offer {
  padding: 124px 112px;
  background: linear-gradient(90deg, #010F0C 0%, rgba(1, 15, 12, 0.6) 52.31%, rgba(1, 15, 12, 0) 82.29%), url("./../image/content-image.jpg"), #F2F4F5;
  border-radius: 24px;
  background-repeat: no-repeat;
  background-size: cover;
}
.section-2 .offer h1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  /* identical to box height, or 125% */
  display: flex;
  align-items: center;
  /* Neutral/White */
  color: #FFFFFF;
}
.section-2 .offer p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  font-feature-settings: "pnum" on, "lnum" on;
  /* Neutral/Black 1 */
  color: #0D1012;
  color: white;
  margin-top: 16px;
  margin-bottom: 32px;
}
.section-2 .offer a {
  padding: 12px 40px;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 8px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  font-feature-settings: "pnum" on, "lnum" on;
  text-decoration: none;
  color: white;
}
.section-2 #quick-links .owl-nav button {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: white;
  position: absolute;
  top: 30%;
  opacity: 1;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);
}
.section-2 #quick-links .owl-nav .owl-prev {
  left: -18px;
}
.section-2 #quick-links .owl-nav .owl-prev .carousel-control-prev {
  margin: auto;
  display: block;
}
.section-2 #quick-links .owl-nav .owl-next {
  right: -18px;
}
.section-2 #quick-links .owl-nav .owl-next img {
  transform: rotate(180deg);
}
.section-2 #quick-links .rectangle {
  padding: 20px;
  background: #FBFBFB;
  border: 2px solid #EDEDED;
  box-sizing: border-box;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.section-2 #quick-links .rectangle img {
  width: 72px;
}
.section-2 #quick-links .rectangle div {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  font-feature-settings: "pnum" on, "lnum" on;
  color: #4D545A;
  width: 100%;
  margin-left: 24px;
}

.bg-gray-100 {
  background-color: #F5F5F5;
}

#statistics .rectangle {
  height: 93px;
  width: 100%;
  background: #FBFBFB;
  border: 1.5px solid #EDEDED;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#statistics .rectangle .block-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  font-feature-settings: "pnum" on, "lnum" on;
  color: #60676D;
}
#statistics .rectangle .block-numbers {
  display: flex;
  flex-direction: row;
}
#statistics .rectangle .block-numbers .son {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  font-feature-settings: "pnum" on, "lnum" on;
  /* Neutral/Black 1 */
  color: #0D1012;
  font-weight: 700;
  margin-top: 2px;
  line-height: 30px;
}
#statistics .rectangle .block-numbers .ga {
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  color: #08705F;
}
#statistics .rectangle .block-numbers .splitter {
  border: 1px solid #EDEDED;
  transform: rotate(-90deg);
  margin: auto;
  width: 22px;
  height: 0;
}

.section-3 {
  padding: 0 60px;
  margin-top: 64px;
}
.section-3 .map {
  padding: 48px 40px;
  background: #FBFBFB;
  border-radius: 16px;
}
.section-3 .map h1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  /* identical to box height, or 143% */
  /* Black */
  color: #313131;
}
.section-3 .map .date-list {
  margin-left: auto;
  margin-top: 20px;
  display: block;
}
.section-3 .map .date-list .date {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  font-feature-settings: "pnum" on, "lnum" on;
  color: #7E858B;
}
.section-3 .map table thead tr th {
  border: 0;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  font-feature-settings: "pnum" on, "lnum" on;
  color: #60676D;
}
.section-3 .map table tbody tr {
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-radius: 4px;
  overflow: hidden;
}
.section-3 .map table tbody tr td {
  border: 0;
  overflow: hidden;
  background: #FFFFFF;
  padding: 8px 24px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */
  font-feature-settings: "tnum" on, "lnum" on;
  color: #313131;
}
.section-3 .map #map svg path {
  fill: #C6DEDA;
  stroke-width: 1px;
  stroke: #FFFFFF;
  cursor: pointer;
}
.section-3 .map #map svg path:hover {
  fill: #08705F;
}
.section-3 .map #map .rectangle {
  width: 100%;
  padding: 20px;
  background: #FFFFFF;
  border: 2px solid #EDEDED;
  box-sizing: border-box;
  border-radius: 12px;
  margin-top: 40px;
}
.section-3 .map #map .rectangle .title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #313131;
}
.section-3 .map #map .rectangle .rectangle-inner {
  width: 100%;
  margin-top: 24px;
  padding: 12px;
  border-radius: 8px;
  background: #FBFBFB;
  border: 1px solid #EDEDED;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.section-3 .map #map .rectangle .rectangle-inner .info {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #60676D;
}
.section-3 .map #map .rectangle .rectangle-inner .son {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  font-feature-settings: "pnum" on, "lnum" on;
  /* Neutral/Black 1 */
  color: #0D1012;
  color: #08705F;
  font-weight: 700;
}
.section-3 .map #map .rectangle .rectangle-inner-2 {
  margin-top: 8px;
}
.section-3 .map #map .rectangle .rectangle-inner-2 .son {
  color: #18A0FB;
}

footer .footer-body {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  /* Neutral/Gray 4 */
  color: #B4B9BD;
  margin-top: 16px;
}
footer .footer-header {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  /* Black */
  color: #313131;
  margin-bottom: 4px;
}
footer .footer-link {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  color: #60676D;
  text-decoration: none;
  margin-top: 12px;
  display: block;
}
footer .footer {
  background-color: #08705F;
  padding: 22px 0;
  margin-top: 48px;
}
footer .footer .section-2 {
  margin: 0;
}
footer .footer .section-2 a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  /* Neutral/White */
  color: #FFFFFF;
}
footer .footer .section-2 a b {
  font-weight: 500;
  border-bottom: 1px solid white;
}

.border-black {
  border-color: black !important;
}

#login-modal .modal-dialog {
  max-width: 900px;
}

.modal-content {
  border-radius: 16px;
  font-family: "Raleway";
}
.modal-content .login-content {
  padding: 96px 63px;
}
.modal-content .description {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  font-feature-settings: "pnum" on, "lnum" on;
  color: #B4B9BD;
}
.modal-content h3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  display: flex;
  align-items: center;
  /* Black */
  color: #313131;
}
.modal-content #login-tab {
  flex-direction: row;
  justify-content: space-between;
  border: 0 !important;
}
.modal-content #login-tab .nav-link {
  padding: 10px 0 !important;
  border: 1px solid #08705F !important;
  box-sizing: border-box !important;
  border-radius: 8px !important;
  width: 147px;
}
.modal-content #login-tab .nav-link img {
  margin: auto;
  display: block;
}
.modal-content #login-tab .active {
  background: rgba(8, 112, 95, 0.05) !important;
}
.modal-content .tab-pane {
  border-bottom: 2px solid #F2F4F5;
  padding: 12px;
}
.modal-content .m-24 {
  margin-top: 24px;
}
.modal-content .checkbox-custom {
  width: 18px;
  height: 18px;
  border: 2px solid #08705F;
  color: transparent;
  border-radius: 3px;
  line-height: 16px;
  font-size: 16px;
  transition: 0.3s;
}
.modal-content .custom-checked {
  background-color: #08705F;
  color: white;
}
.modal-content .close {
  position: absolute;
  right: 30px;
  top: 30px;
  z-index: 100;
}

.cursor-pointer {
  cursor: pointer;
}

.btn-check {
  background-color: #08705F;
  color: white;
  width: 100%;
  padding: 12px 0 !important;
  border-radius: 8px;
  border: 1px solid #08705F;
}

.btn-check:hover {
  background-color: white;
  color: #08705F;
}

.d-sm-none {
  display: block !important;
}

@media only screen and (max-width: 600px) {
  .navbar {
    padding: 20px;
  }

  .langdropdown {
    margin-right: 70px;
  }
  .langdropdown .dropdown-menu {
    left: -100px;
  }

  footer .footer-header {
    margin-top: 32px;
  }

  .login-content {
    padding: 24px !important;
  }

  .navbar-toggler {
    width: 18px;
    height: 14px;
    padding: 0 !important;
    margin-right: 20px !important;
    margin-top: 7px !important;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    position: absolute;
    right: 20px;
    top: 32px;
    z-index: 100;
  }
  .navbar-toggler .toggle-line {
    width: 22px;
    border-radius: 50rem;
    margin-bottom: 5px;
    border: 1px solid white;
    transition: 0.3s;
  }
  .navbar-toggler .line1 {
    transform: translate(0, 8px) rotate(45deg);
    width: 30px;
  }
  .navbar-toggler .line2 {
    opacity: 0;
  }
  .navbar-toggler .line3 {
    transform: translate(0, -7px) rotate(-45deg);
    width: 30px;
  }

  .navbar-collapse {
    background-color: white;
    border-radius: 16px 0 0 16px;
    position: absolute;
    top: 0;
    right: 0;
    left: 56px;
    padding: 80px 24px;
    display: block;
  }
  .navbar-collapse .lang-lg {
    display: none;
  }
  .navbar-collapse .nav-item {
    margin: 0 !important;
    border-bottom: 1px solid #F2F4F5;
  }
  .navbar-collapse .nav-item .check-offer {
    margin: 16px 0 !important;
    width: 100%;
    text-align: center;
    background: #08705F !important;
    color: white !important;
    border-radius: 8px !important;
    padding: 12px 0 !important;
  }
  .navbar-collapse .nav-item .nav-link-mini {
    color: #0D1012 !important;
    padding: 16px 0 !important;
    font-size: 16px !important;
    line-height: 24px !important;
  }
  .navbar-collapse .nav-item .login {
    padding: 12px 0 !important;
    color: #08705F !important;
    border-color: #08705F !important;
    text-align: center;
  }

  .video {
    height: 475px !important;
    top: 0 !important;
  }
  .video video {
    height: 100%;
    width: initial !important;
    transform: translateX(-50%);
    left: 50%;
  }
  .video .video-text {
    width: initial !important;
    margin: 287px 24px !important;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
  }

  .section {
    margin-top: 40px;
    padding: 0 16px;
  }

  .section-2 {
    margin-top: 40px;
    padding: 0 16px;
  }

  .section-3 {
    margin-top: 40px;
    padding: 0 16px;
  }
  .section-3 .map {
    padding: 16px 12px !important;
  }
  .section-3 .map .date-list {
    margin: 16px auto 0 0 !important;
  }
  .section-3 .map .rectangle-inner {
    flex-direction: column !important;
  }
  .section-3 .map .rectangle-inner .son {
    margin-top: 8px;
  }

  .d-sm-none {
    display: none !important;
  }

  .barchasi {
    width: 100%;
    text-align: center;
    padding: 16px 0;
    color: #08705F;
    border: 1px solid #08705F;
    border-radius: 8px;
    background-color: white;
    margin-top: 24px;
  }

  .container .card {
    padding: 16px;
  }

  .mt-sm-3 {
    margin-top: 16px;
    display: block;
  }

  .about-video {
    height: 545px !important;
  }
  .about-video .video-content {
    top: 0 !important;
    left: 0 !important;
  }
  .about-video .play-btn {
    width: 100%;
    height: 250px;
    transform: initial !important;
    opacity: 1 !important;
  }
  .about-video .play-btn img {
    width: 100% !important;
  }
  .about-video .carousel-item .carousel-img {
    width: initial !important;
    height: 100%;
  }
  .about-video .carousel-item .text-1 {
    padding: 0 24px !important;
  }
  .about-video .carousel-item .text-2 {
    padding: 0 24px !important;
  }
  .about-video .carousel-nav {
    top: initial !important;
    bottom: 24px;
    left: 24px !important;
  }
}

/*# sourceMappingURL=index.css.map */
