@mixin text-14 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    font-feature-settings: 'pnum' on, 'lnum' on;
}

@mixin text-18 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    font-feature-settings: 'pnum' on, 'lnum' on;

    /* Neutral/Black 1 */

    color: #0D1012;


}

@mixin title-20 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: #313131;

}


@mixin header {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    /* identical to box height, or 143% */
    /* Black */

    color: #313131;

}

@mixin rectangle-tile {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: #313131;
}

@mixin rectangle-body {

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    /* or 144% */

    font-feature-settings: 'tnum' on, 'lnum' on;

    color: #60676D;
}

@mixin headline{

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    /* identical to box height, or 125% */

    display: flex;
    align-items: center;

    /* Neutral/White */

    color: #FFFFFF;
}

$green: #08705F;
.navbar {
    @include text-14();
    padding: 26px 60px;
    position: absolute;
    top: 0;
    z-index: 1000;
    background-image: linear-gradient(black, transparent);

    .navbar-nav {
        width: 100%;

        .nav-item {
            margin: 0 auto;

            .nav-link {
                padding: 10px 16px;
                color: white;
            }

            .check-offer {

                background: rgba(8, 112, 95, 0.2);
                border: 1px solid $green;
                box-sizing: border-box;
                border-radius: 8px;
                margin: 0 16px;
                transition: 0.3s;
            }

            .check-offer:hover {
                background: $green;
            }

            .login {
                background: rgba(255, 255, 255, 0.1);
                /* White */

                border: 1px solid #FFFFFF;
                box-sizing: border-box;
                border-radius: 8px;
                transition: 0.3s;
            }

            .login:hover {
                background: #FFFFFF;
                /* White */
                color: $green;
                border: 1px solid #FFFFFF;
            }
        }
    }
}


.video {

    height: 100vh !important;
    overflow: hidden;
    position: relative;

    video {
        width: 100%;
        position: absolute;
        top: -50px;
        z-index: -1;
    }

    .video-text {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        width: 791px;
        height: 90px;
        margin: 500px auto;
    }
}

.section {
    margin-top: 72px;
    padding: 0 60px;

    h1 {
        @include header();
    }

    .rectangle {
        background-image: url("./../image/Rectangle 22020.svg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 203px;
        width: 100%;
        padding: 16px 32px 16px 16px;
        position: relative;
        margin-top: 24px;

        .rectangle-title {
            @include rectangle-tile();
            margin-top: 16px;

        }

        .rectangle-body {
            @include rectangle-body();
            margin-top: 2px;
        }

        .bosqich {
            position: absolute;
            top: 16px;
            right: 32px;
            border-radius: 4px;
            padding: 3px 8px 4px 8px;
            @include text-14();
            font-weight: 500;
            background: rgba(101, 128, 151, 0.1);
        }

        .icon {
            height: 52px;
            width: 52px;
            border-radius: 50%;
            padding: 10px;
            background: #FFFFFF;
        }
    }


    .carousel-nav {
        display: flex;
        flex-direction: row;

        a {
            opacity: 1;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 2px solid $green;
            color: $green;
            box-sizing: border-box;
            padding: 10px;
            position: initial;
        }

        .carousel-control-next {
            background: $green;
            margin-left: 8px;
        }

        .carousel-control-prev {
            margin-left: auto;
        }
    }

}

.carousel-indicators {
    position: initial;
    margin-top: 24px;
}

.nav {
    .nav-item {
        .nav-link {
            @include text-18();
            padding: 12px 0;
            border: 0;
            margin-right: 24px;
        }

        .active {
            color: $green;
            border-bottom: 3px solid $green;
        }
    }
}

.section-2 {
    margin-top: 96px;
    padding: 0 60px;

    h1 {
        @include header();
    }

    #fields {

        .date-list{

            margin-left: auto;
            margin-top: 20px;
            display: block;
            a{
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                /* identical to box height, or 150% */

                font-feature-settings: 'pnum' on, 'lnum' on;

                color: #7E858B;
                text-decoration: none;
            }
        }

        .carousel {
            .carousel-nav {
                a {
                    width: 36px;
                    height: 36px;
                    border-radius: 50%;
                    background: white;
                    position: absolute;
                    top: 50%;
                    opacity: 1;
                    box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);
                }

                .carousel-control-prev {
                    left: -18px;
                }

                .carousel-control-next {
                    right: -18px;

                    img {
                        transform: rotate(180deg);
                    }
                }
            }
        }

        .rectangle {
            width: 100%;
            height: 452px;
            background: #F5F5F5;
            border-radius: 24px;
            padding: 16px;
            margin-top: 24px;

            .rectangle-img {
                width: 100%;
                height: 272px;
                overflow: hidden;
                border-radius: 16px;

                img {
                    width: 100%;
                }
            }

            .rectangle-date {
                @include text-14();
                font-weight: 500;
                color: #747B81;
            }

            .rectangle-lot {
                @include text-14();
                font-weight: 500;
                color: #747B81;
                margin-top: 16px;
            }

            .rectangle-name {
                @include text-18();
                font-weight: 700;
                margin-top: 12px;
            }

            .rectangle-footer {
                bottom: 16px;
                position: absolute;
                left: 16px;
                right: 16px;
                justify-content: space-between;
                display: flex;

                .rectangle-ga {
                    @include text-18();
                    line-height: 28px;
                    font-weight: 700;
                    margin-top: auto;
                    display: inline-block;
                    color: $green;
                }

                .rectangle-save {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    padding: 10px;
                    background-color: white;
                    border: 1px;
                }
            }
        }
    }


    .about-video {
        height: 464px;
        width: 100%;
        border-radius: 24px;
        overflow: hidden;
        position: relative;

        .video-content {
            width: 471px;
            margin-left: 112px;
            margin-top: 138px;

            .text-1 {
                @include rectangle-tile();
                line-height: 40px;
                color: white;
            }

            .text-2 {
                @include text-18();
                color: white;
                line-height: 28px;
                margin-top: 16px;
            }

            .carousel-nav {
                margin-top: 28px;
                display: flex;
                flex-direction: row;

                a {
                    position: initial !important;
                }

                .carousel-control-next {
                    transform: rotate(180deg);
                }

                .carousel-indicators {
                    margin: 0;

                    li {
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        margin: 8px;
                    }
                }
            }
        }

        .video-gradient {
            background: linear-gradient(90deg, #010F0C 0%, rgba(1, 15, 12, 0.6) 52.31%, rgba(1, 15, 12, 0) 82.29%), transparent;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 2;

        }

        #videoCarousel {
            width: 100%;
            height: 100%;

            .carousel-item {

                .play-btn {
                    background-color: transparent;
                    position: absolute;
                    border: 0;
                    top: 0;
                    left: 50%;
                    z-index: 100;
                    opacity: 0.5;
                }

                .play-btn:hover {
                    opacity: 1;
                }
            }
        }
    }

    .offer{
        padding: 124px 112px;
        background: linear-gradient(90deg, #010F0C 0%, rgba(1, 15, 12, 0.6) 52.31%, rgba(1, 15, 12, 0) 82.29%), url("./../image/content-image.jpg"), #F2F4F5;
        border-radius: 24px;
        background-repeat: no-repeat;
        background-size: cover;

        h1{
            @include headline();
        }
        p{
            @include text-18();
            color: white;
            margin-top: 16px;
            margin-bottom: 32px;
        }
        a{
            padding: 12px 40px;
            border: 1px solid #FFFFFF;
            box-sizing: border-box;
            border-radius: 8px;
            @include text-14();
            text-decoration: none;
            color: white;

        }
    }

    #quick-links{
        .carousel-nav {
            a {
                width: 36px;
                height: 36px;
                border-radius: 50%;
                background: white;
                position: absolute;
                top: 30%;
                opacity: 1;
                box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);
            }

            .carousel-control-prev {
                left: -18px;
            }

            .carousel-control-next {
                right: -18px;

                img {
                    transform: rotate(180deg);
                }
            }
        }


        .rectangle{
            padding: 20px;
            background: #FBFBFB;
            border: 2px solid #EDEDED;
            box-sizing: border-box;
            border-radius: 12px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            img{
                width: 72px;
            }
            div{
                @include text-14();
                color: #4D545A;
                width: 100%;
                margin-left: 24px;
            }

        }

    }

}



#statistics {
    .rectangle {
        height: 93px;
        width: 100%;
        background: #FBFBFB;
        border: 1.5px solid #EDEDED;
        box-sizing: border-box;
        border-radius: 12px;
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .block-title {
            @include text-14();
            color: #60676D;
        }

        .block-numbers {
            display: flex;
            flex-direction: row;

            .son {
                @include text-18();
                font-weight: 700;
                margin-top: 2px;
                line-height: 30px;
            }

            .ga {
                font-weight: 600;
                font-size: 16px;
                line-height: 30px;
                color: $green;
            }

            .splitter {
                border: 1px solid #EDEDED;
                transform: rotate(-90deg);
                margin: auto;
                width: 22px;
                height: 0;
            }
        }
    }

}


.section-3 {
    padding: 0 60px;
    margin-top: 64px;

    .map {
        padding: 48px 40px;
        background: #FBFBFB;
        border-radius: 16px;

        h1 {
            @include header();
        }
        .date-list{

            margin-left: auto;
            margin-top: 20px;
            display: block;
            .date{
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                /* identical to box height, or 150% */

                font-feature-settings: 'pnum' on, 'lnum' on;

                color: #7E858B;
            }
        }
        table{
            thead{
                tr{
                    th{
                        border: 0;
                        @include text-14();
                        color: #60676D;
                    }
                }
            }
            tbody{
                tr{
                    border-top: 2px solid transparent;
                    border-bottom: 2px solid transparent;
                    border-radius: 4px;
                    overflow: hidden;
                    td{
                        border: 0;
                        overflow: hidden;
                        background: #FFFFFF;
                        padding: 8px 24px;
                        font-family: 'Raleway';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 20px;
                        /* identical to box height, or 125% */

                        font-feature-settings: 'tnum' on, 'lnum' on;

                        color: #313131;
                    }
                }
            }
        }
        #map {
            svg {
                path {
                    fill: #C6DEDA;
                    stroke-width: 1px;
                    stroke: #FFFFFF;
                    cursor: pointer;
                }

                path:hover {
                    fill: $green;
                }
            }


            .rectangle {
                width: 100%;
                padding: 20px;
                background: #FFFFFF;
                border: 2px solid #EDEDED;
                box-sizing: border-box;
                border-radius: 12px;
                margin-top: 40px;

                .title {
                    @include title-20();
                }

                .rectangle-inner {
                    width: 100%;
                    margin-top: 24px;
                    padding: 12px;
                    border-radius: 8px;
                    background: #FBFBFB;
                    border: 1px solid #EDEDED;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    .info {
                        font-family: 'Raleway';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 24px;
                        color: #60676D;

                    }

                    .son {
                        @include text-18();
                        color: $green;
                        font-weight: 700;

                    }


                }
                .rectangle-inner-2 {
                    margin-top: 8px;
                    .son{
                        color: #18A0FB;
                    }
                }
            }
        }
    }
}

footer{

    .footer-body{

        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        /* or 150% */


        /* Neutral/Gray 4 */

        color: #B4B9BD;
        margin-top: 16px;
    }

    .footer-header{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */


        /* Black */

        color: #313131;
        margin-bottom: 4px;
    }

    .footer-link{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */


        color: #60676D;
        text-decoration: none;
        margin-top: 12px;
        display: block;
    }

    .footer{
        background-color: $green;
        padding: 22px 0;
        margin-top: 48px;
        .section-2{
            margin: 0;
            a{
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                /* identical to box height, or 150% */


                /* Neutral/White */

                color: #FFFFFF;
                b{
                    font-weight: 500;
                    border-bottom: 1px solid white;
                }
            }
        }
    }

}
