.owl-dots button{
    background: #CEE2DF!important;
    border-radius: 7px!important;;
    height: 6px!important;;
    width: 52px!important;;
    padding: 0!important;;
    border: 0!important;;
    margin: 0 2px!important;;
    opacity: 1!important;;
    overflow: hidden!important;;
}
.owl-dots .active{
    background-color: #539B8F!important;;
}

.owl-dots{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 24px;
}
